.navbar-nav li a{
    color: white !important;
}
.custom-heading{
    text-align: center;
    font-weight: bolder;
}

.custom-panel{
    margin-top: 50px;
    text-align: center;
    color: white !important;
    background-color: red !important;
}
ul a:hover{
    color: blue !important;    
}
.custom-nav{
    font-weight: bold !important;;
}
.custom-carousel{
    height: 550px;
}
.custom-pictures img{
    height: 200px;
    width: 100%;
}
h3{
    font-weight: bold !important;
}

